.hello{
    font-weight: bold;

}
img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.active{
    border: 1px solid #000;
    font-weight: bold;
}

.preloader{
    position: relative;
    z-index:1;
}